ul.a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2F6089;
}

ul.b {
    list-style-type: none;
    margin: 0; 
}

h1 {
    font-family: Helvetica;  
    color: #2F6189;
}

h3 {
    font-family: Helvetica;
    color: #2F6189;
}

li {
    float: left;
    font-family: Helvetica;
}

li.a{
    position: absolute;
    top: 40 0px;    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #1D3B54;
}

.button {
    background-color: #2F6089;
    border-radius: 2px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    padding: 10px 40px;
    text-align: center;
    display: inline-block;
    font-family: Helvetica;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover{
    background-color: #193449;
    }
    
.button:active{
    background-color: #2F6089;  
    }
    